.history-box {
  position: absolute;
  bottom: 0;

  @media (max-width: 500px) {
    width: 100vw;
    height: 0.5vh;
    bottom: 30px;
  }
}

.history-event {
  display: flex;
  flex-direction: column;
  height: 135px;

  @media (max-width: 500px) {
    width: 15vw;
    height: 2vh;
    font-size: 1vw;
  }
}

.history-year {
  font-size: 2vh;
  font-weight: 400;
  color: rgba(56, 119, 238, 1);
}

.history-year-description {
  font-size: 2vh; 
  font-weight: 400;
  color: rgba(66, 86, 122, 1);

  @media (max-width: 500px) {
    font-size: 10px;
  }
}