
.swiper{
  margin: 0 auto;
  width: 100%;
}
.swiper-wrapper {
  width: 90%;
  height: 20vh;
  display: flex;
  margin: 0 auto;
}
.swiper-slide {
  width: 250px;
  height: 10rem;
  padding: 0px 10px;
  box-sizing: content-box;
  font-size: 2rem;
}
.swiper-button-prev,
.swiper-button-next {
width: 4vw;
height: 4vw;
border: 2px solid rgba(66, 86, 122, 0.5);
border-radius: 50%;
margin: -22px -10px 0 -10px;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
opacity: 0;
}
.swiper-button-prev::after{
  content: '';
  width: .8vw;
  height: .8vw;
  border-left: 2px solid #42567A;
  border-top: 2px solid #42567A;
  transform: rotate(-45deg);
  position: absolute; 
  top: 50%; 
  left: 50%;
  transform-origin: 50% 50%; 
  transform: translate(-50%, -50%) rotate(-45deg); 
}
.swiper-button-next::after {
content: '';
width: .8vw;
height: .8vw;
border-right: 2px solid #42567A;
border-bottom: 2px solid #42567A;
transform: rotate(45deg);
position: absolute; 
top: 50%; 
left: 50%; 
transform-origin: 50% 50%;
transform: translate(-50%, -50%) rotate(-45deg); 
}

@media (max-width:500px) {
.swiper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
.swiper-wrapper {
  width: 90%;
  height: 10vh;
}
.swiper-slide-active{
}
.swiper-button-prev,
.swiper-button-next {
display: none;
border: 2px solid rgba(66, 86, 122, 0.5);
border-radius: 50%;
}   
.swiper-button-prev::after{
content: '';
width: 6vw;
height: 6vw; 
}
.swiper-button-next::after {
content: '';
width: 6vw;
height: 6vw;
}
.swiper-slide-next  {
opacity: 0.5;
}

.swiper-pagination-bullets {

}
.swiper-pagination-bullet {
width: 1.6vw;
height: 1.6vw;
background-color: #42567A;
}
}