.history-period {
  width: 65vw;
  font-weight: 700;
  font-size: 15vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1vw;
  z-index: 1;

  @media (max-width: 500px) {
    width: 65vw;
    font-size: 15vw;
    top: 20vh;
    left: 0;
    transform: translate(0, 0);
    position: relative;
    gap: 1vw;
    padding-bottom: 5vh;
    border-bottom: 1px solid #C7CDD9;
  }
}

.year-begin {
  color: #3877EE;
}

.year-end {
  color: #EF5DA8;
}