@font-face {
  font-family: 'PT Sans';
  src: url('../../assets/fonts/PTSans-Regular.ttf');
}
body {
  font-family: 'PT Sans';
  display: flex;
  justify-content: center;
  align-items: center;
 
}
main {
  width: 100%;
}
.history-container {
  width: 1440px;
  height: 1080px;
  position: relative;
  background-color: #F4F5F9;

  @media (max-width: 500px) {
    display: block;
    width: 320px;
    height: 568px;
    padding: 20px;
  }
}